PORT=8000
NODE_ENV=production
DATABASE_URL="postgresql://postgres:123456@postgres:5432/jobhunter?schema=public"
CLIENT_URL="http://localhost:3000"

JWT_ACCESS_TOKEN_SECRET=CHANGE_ME
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_TOKEN_SECRET=CHANGE_ME_TOO
JWT_REFRESH_EXPIRE=1d

SHOULD_INIT=false
INIT_PASSWORD=123456
