PORT=8000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jobhunter"
CLIENT_URL="http://localhost:3000"

JWT_ACCESS_TOKEN_SECRET=JUSTASECRET
JWT_ACCESS_EXPIRE=1000m
JWT_REFRESH_TOKEN_SECRET=JUSTASECRET
JWT_REFRESH_EXPIRE=1d

SHOULD_INIT=true
INIT_PASSWORD=123456
